* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Integral cf";
  src: url("fonts/Fontspring-DEMO-integralcf-bold.otf");
}

body {
  font-family: "Integral cf";
}
